@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark;
}

#root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}